<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.provider.pay.mapper.AssetMapper">
    <update id="incAsset">
        update asset
        <set>
            cost_coin = cost_coin + #{costCoin}
            coin = coin + #{coin},
            rice = rice + #{rice},
        </set>
        <where>
            customer_id = #{customerId}
            <if test="coin lt 0">
                AND coin &gt;= -#{coin}
            </if>
            <if test="rice lt 0">
                AND rice &gt;= -#{rice}
            </if>
        </where>
    </update>

</mapper>